.trigger {
  --trigger-size: var(--size-12);

  display: flex;
  flex-shrink: 0;
  width: var(--trigger-size);
  height: var(--trigger-size);
  border: 2px solid oklch(var(--gray-950-oklch) / 20%);
  border-radius: var(--trigger-size);
}
