.preview {
  display: flex;
  gap: var(--size-1);
  align-items: flex-end;
  padding-inline: var(--size-4);
  padding-block: var(--size-4);
  height: 8rem;
  font-weight: 550;

  span {
    display: flex;
    align-items: center;
    gap: var(--size-1);

    p {
      font-size: 16px;
      line-height: 0.75;
    }

    button {
      padding: var(--size-1);
      opacity: 0;
      transition: opacity 0.25s var(--ease-out-3);

      &:focus {
        opacity: 1;
      }
    }

    &:hover {
      button {
        opacity: 1;
      }
    }
  }
}
