.icon-card {
  display: grid;
  place-items: center;
  border: 1px solid oklch(var(--gray-50-oklch) / 10%);
  border-radius: var(--size-1);
  padding-inline: var(--size-4);
  padding-block: var(--size-8);

  button {
    display: grid;
    place-items: center;
    gap: var(--size-4);
  }

  p {
    text-transform: capitalize;
    font-size: 0.75rem;
    line-height: 1;
  }
}
